div[data-user-role="System Manager"] {
    display: none;
}
option[value="System Manager"]{
    display: none;
}
tr:has([data-role="System Manager"]){
    display: none;
}
@media (min-width: 768px){
.modal-dialog {
    width: 742px!important;
    margin: 30px auto;
}}



